<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Red Robin's Burgers Devour List</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	<br>
	<center>
		<h1 class="text-white text-medium-center"><span class="display-3 text-danger font-weight-bolder text-xl-center">Red Robin</span>'s Burgers Devour List</h1>
		<img src="assets/img/cartoon-tasty-big-hamburger-removebg.png" width="120" height="120"
			alt="cartoon-tasty-big-hamburger">
	</center>
	<br>
	<!-- Handlebars -->
	{{{ body }}}
	<br>



	<form class="create-form container">

		<div class="row">
			<div class="col"></div>

			<div class="form-group col">
				<h3 class="text-white fw-bolder">New Menu Add Here!</h3>

				<div class="form-group">
					<label for="ca">Burger Name:</label>
					<input type="text" id="ca" name="name">
				</div>

				<div class="form-group">
					<label for="devoured">Already Tried?</label><br>
					<input type="radio" name="devoured" value="1" checked> Devoured!<br>
					<input type="radio" name="devoured" value="0"> Not Devoured
				</div>

				<button type="submit">Add Burger</button>

			</div>

			<div class="col"></div>

		</div>

	</form>

	<br>
</body>

</html>