<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>My Burgers Wishlist</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>

	<center>
		<h1 class="text-xl-center text-success text-bold">My Burgers Wish List</h1>
		<img src="assets/img/cartoon-tasty-big-hamburger-removebg.png" width="200" height="200" alt="cartoon-tasty-big-hamburger">
	</center>

	<!-- Handlebars -->
	{{{ body }}}
</body>

</html>