{{!-- <center>
  <h1 class="text-danger">Burgers Devour List</h1>
</center> --}}
<br>
<div class="container">

  <div class="row">

    <div class="col-6">

      <center>
        <h3 class="text-white fw-bolder">Burgers List To Try</h3>
      </center>


      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devour=true}}
        {{/unless}}
        {{/each}}
      </ul>

    </div>

    {{!-- <div class="col"></div> --}}

    <div class="col-6">


      <center>
        <h3 class="text-white fw-bolder">Burgers Already Tried</h3>
      </center>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devour=false}}
        {{/if}}
        {{/each}}
      </ul>

    </div>

  </div>


</div>

{{!-- <h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devoured" value="0"> Not Devoured
  </div>

  <button type="submit">Add Burger</button>
</form> --}}