<li>
	{{burger_name}}
	
	{{#if devour}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		DEVOUR!
	</button>

	{{/if}}


{{!-- ADD DELETE BUTTON -- HIDE DATA ID UNDER DATA ATTRIBUTE WITH HANDLEBAR ID --}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
